<!DOCTYPE html>
<html>
<head>
  <title>Prototype Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous'>
  </head>
  <body>
    <nav 
    class="navbar navbar-default">
       <div 
           class="container-fluid">
              <div class="navbar-header">
                 <a class="navbar-brand" href="#">
                   <img alt="brand" src="https://raw.githubusercontent.com/ALRW/dayAsADev/master/images/glyphicon.png">
                 </a>
              </div>
          <h4 
          class="navbar-text">Lemon Unicorn Ltd.
          </h4>
       </div
   </nav
   <div class="container-fluid">
         <div class="row"
              <div class="col-md-3"></div>
                    <div class="col-md-6"
                         <div class="jumbotron"
                         <div class="about"
                           <h2>
                            How to be more agile?
                           </h2>
                           <p>
                            Lemon Unicorn thinks that Lean Agile can save the world.  On a good day.  
                           </p>
                           <p>
                            On a normal day organising people so that those who make software work closely with
                            those that use it will do just fine.  Be agile, don't just do it.  
                           </p>
                          </div>
                          </div>
                     </div>
               <div class="col-md-3"></div>
            </div>
      </div>
  </body>
</html>
